<!-- 
 @file otp_confirmation.html.erb
 @description Email template for sending the OTP confirmation to users during registration in Timely.
 @version 1.0.0 (Initial implementation of OTP confirmation email)
 @author - Athika Jishida 
-->

<h1>Welcome to Timely!</h1>
<p>Please use the following OTP to confirm your email:</p>
<h2><%= @otp %></h2>
<p>This OTP is valid for 10 minutes.</p>
